.tags{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;

    .tag{
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    background-color: #FF6060;
    margin-right: 20px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    white-space: nowrap;
    @media (max-width: 900px){
        font-size: 10px;
        }
    }
}




