main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    .chezVous{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    

        .chezVousImage{
            object-fit:cover;
            height: 250px;
            width: 100%;
            border-radius: 25px;
            filter: brightness(0.7);
            }

        .chezVousTexte{
            position: absolute;
            color: white;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 50px;
        }
    
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        border-radius: 25px;
        background: #F6F6F6;
        margin: 40px;
        width: 100%;  
        
            div{
                display: grid;
                flex-wrap: wrap;
                grid-template-columns: 500px 500px 500px;
                flex-direction: column;
                
            }
    }
}