main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
    .chezVous{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        border-radius: 25px;
        background: #F6F6F6;
        width: 1240px;
        margin-top: 50px;
        padding-top: 20px;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;

        @media (max-width: 1240px){
            width: 800px;
            background: none;
        }
        
            div{
                display: flex;
            }

            
    }
}

