.container{
    margin: auto;
    display: flex;

    img{
        object-fit: cover;
        border-radius: 300px;
        @media (max-width: 900px){
            width: 64px;
            height: 64px;
            }
    }

    h2{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        text-align: right;
        width: 80%;
        padding-top: 10px;
        
    }
}