.container{
    display: flex;

    h2{
        color: #FF6060;
        text-align: right;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }
}