.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h3{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }

    .description{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }

    .tags{
        display: flex;
    }
}