.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .titleDescriptionTags{
        display: flex;
        justify-content: space-between;
    }

    h3{
        display: flex;
        color: #FF6060;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
    }

    .description{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }

    .tags{
        display: flex;
    }

    .collapse{
        display: grid;
        grid-template-columns: 600px 600px;

        span{
            padding: 20px;
        }
    }

    
}